[submodule "material-design-icons"]
	path = material-design-icons
	url = https://github.com/google/material-design-icons
[submodule "third_party/three.js"]
	path = third_party/three.js
	url = git@github.com:mrdoob/three.js.git
