node_modules/
models/swarm-drone-0-0-4-ms.3mf
models/swarm-drone-0-0-4-ms.mtl
models/swarm-drone-0-0-4-save.mtl
models/swarm-drone-0-0-4-simple.3MF
models/swarm-drone-0-0-4-simpified.mtl
models/swarm-drone-0-0-4-save.obj
models/swarm-drone-0-0-4-ms.obj
swarm_gcs-linux-x64/
swarm_gcs-linux-x64.zip
